<div>
<h3><%= link_to @post.title, @post %></h3>
<p><%= @post.body %></p>
<small><%= @post.date_published%></small>
</div>

<br>
<br>

<div>
	<% @comments.each do |comment|%>
		<p> <%= comment.body %>
			<br>
			<%= comment.date_published %>
		</p>

	<% end %>

	<h4>Create a comment: </h4>
	<%= form_for(@new_comment, url: post_comments_path(@post)) do |f| %>

		<%= f.text_area :body %>

		<%= f.submit "Add Comment"%>
	<% end %>
</div>

<%= link_to "View Posts", posts_path%>